# Python Basics________---------------_________

In [1]:
1 + 1

2

In [3]:
print('hello')

hello

- Data Type:

In [4]:
type(1)

int

In [5]:
type('hello')

str

In [6]:
type(2.92)

float

In [7]:
first_name ="Devesh"
last_name ="Maithani"

In [11]:
#here we need to consider the order of variables.

print("my First name is {} and last name is {}".format(first_name,last_name))

my First name is Devesh and last name is Maithani

In [12]:
# But now if we don't know about the order or we don't remember the order so for that we can use this format.

print("my First name is {first} and last name is {last}".format(last=last_name,first=first_name))

my First name is Devesh and last name is Maithani

In [13]:
type(1.0)

float

In [14]:
type(first_name)

str

# Boolean Variables

### Boolean values are the two constant object False or True.

In [17]:
bool()

False

In [19]:
type(True)

bool

In [38]:
my_str ='Devesh Maithani'

In [39]:
print(my_str.isalnum())       #check string contains alphanumeric value
print(my_str.isalpha())       #check string contains alphabet
print(my_str.isdigit())       #check string contains any digit
print(my_str.istitle())       #check string contains any title case or first 
print(my_str.isupper())       #check string contains upper case
print(my_str.islower())       #check string contains lower case
print(my_str.isspace())       #check string contains any space
print(my_str.endswith('i'))   #check string ends with given char //Case sensitive
print(my_str.startswith('k')) #check string start with given char //Case sensitive

False
False
False
True
False
False
False
True
False

# List In Python

### A list is a data structure in Python that is mutable,changeable or ordered sequence of elements. each element or value that is inside of a list is called an item. just as string are defined as characters between quotes, list are defined by having values between squre brackets[ ].

In [1]:
 list = []

In [2]:
type(list)

list

In [10]:
list = ['aa','bb',2,3,4]

In [11]:
len(list)

5

In [12]:
print(list[2])

2

## Append

In [14]:
list.append('ram')

In [15]:
list.append(['lol',44])

In [16]:
list

['aa', 'bb', 2, 3, 4, 'ram', ['lol', 44]]

## Extend

In [17]:
list.extend(['varun',88])

In [19]:
list

['aa', 'bb', 2, 3, 4, 'ram', ['lol', 44], 'varun', 88]

## Insert

In [20]:
list.insert(3,'jay')

In [21]:
list

['aa', 'bb', 2, 'jay', 3, 4, 'ram', ['lol', 44], 'varun', 88]

## Delete

In [27]:
del list[2]

In [28]:
list

['aa', 'bb', 'jay', 3, 4, 'ram', ['lol', 44], 'varun', 88]

In [31]:
del list[2:4]
list

['aa', 'bb', ['lol', 44], 'varun', 88]

## Pop

In [32]:
list.pop()

88

In [33]:
list.pop(3)

'varun'

## Copy()

In [36]:
new_list = list.copy()

In [39]:
list

['aa', 'bb', ['lol', 44]]

In [40]:
new_list

['aa', 'bb', ['lol', 44]]

## Count

In [41]:
list.count('lol')

0

In [42]:
list.count(['lol',44])

1

## Sort

In [51]:
l1 = [2,4,1,33,54,5]

In [53]:
l1.sort()
l1

[1, 2, 4, 5, 33, 54]

## Tuple in Python

### A tuple is a collection which is ordered and unchangeable. Since tuple are indexed, tuples can have items with the same value

In [1]:
t1 = ()
type(t1)

tuple

In [8]:
t1 = ("dev",4,5,3,4,5,4,"ram")
print(t1)
len(t1)

('dev', 4, 5, 3, 4, 5, 4, 'ram')

8

### To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [5]:
t2 = ("dev",)
print(type(t2))

#NOT a tuple
t3 = ("maithani")
print(type(t3))

<class 'tuple'>
<class 'str'>

### Count():

In [10]:
x = t1.count(4)
print(x)

3

### Index()

### The index() method finds the first occurrence of the specified value.

In [11]:
print(t1.index(3))

3

## Set in Python:

### A set is a collection which is both unordered and unindexed. 
### Set items are unordered, unchangeable, and do not allow duplicate values.
### Sets are unordered, so you cannot be sure in which order the items will appear.
### Sets are unchangeable, meaning that we cannot change the items after the set has been created.

In [18]:
s1 = {2,"dev","raj" }
print(type(s1))
print(s1)

<class 'set'>
{'dev', 2, 'raj'}

In [20]:
s2= {"aa","bb","cc","aa","cc"} #Duplicate values will be ignored
print(s2)

{'aa', 'cc', 'bb'}

In [21]:
print(len(s2))

3

## Add():

In [22]:
s1.add("mohan")
print(s1)

{'dev', 2, 'raj', 'mohan'}

In [25]:
s3 = s1.copy()
print("set s1 is:",s1)
print("Copy set is:",s3)

set s1 is: {'dev', 2, 'raj', 'mohan'}
Copy set is: {'dev', 2, 'raj', 'mohan'}

## Difference():

In [27]:
s3.add("rohan")

In [29]:
x = s3.difference(s1)
print(x)

{'rohan'}

## Discard():

In [31]:
s3.discard("mohan")
print(s3)

{2, 'rohan', 'dev', 'raj'}

## Intersection():

In [35]:
print(s1)
print(s3)

{'dev', 2, 'raj', 'mohan'}
{2, 'rohan', 'dev', 'raj'}

In [36]:
z = s1.intersection(s3)
print(z)

{'dev', 2, 'raj'}

## isdisjoint(): #Return True if no items in set s1 is present in set s3:

In [37]:
z = s1.isdisjoint(s3)
print(z)

False

## Pop():  Remove a random item from the set

In [38]:
s3.pop()
print(s3)

{'rohan', 'dev', 'raj'}

## Remove(): Removes the specified element

In [39]:
s1.remove(2)
print(s1)

{'dev', 'raj', 'mohan'}

## Update(): Insert the items from set s3 into set s1:

In [45]:
print(s1)
print(s2)
s1.update(s2)
print(s1)

{'mohan', 'dev', 'raj', 'rohan'}
{'aa', 'cc', 'bb'}
{'mohan', 'aa', 'bb', 'dev', 'raj', 'cc', 'rohan'}